{% extends 'base2.html' %}
{% block content %}
<style type="text/css">
    .body{
        background-image: url("media/Background.png");
        background-size: cover;
    }

</style>
<body class="body">
<div class="container" style="margin-top: 20px;">
    <!--Media-->
    <div class="media">
        <div class="media-body">
            <div class="mx-auto" style="width: 150px;">
                <h2 class="mt-0">Real</h2>
            </div>
            <div class="mx-auto" style="width: 200px;">
                <h2 class="mt-0">Organic</h2>
            </div>
            <div class="mx-auto" style="width: 210px;">
                <h2 class="mt-0">Products</h2>
            </div>
            <div class="mx-auto" style="width: 250px;">
                <p>Cras sit amet nibh libero, in
                    vestibulum in vulputate at,
                    lacinia congue felis in faucibus.
                    lacinia congue felis in faucibus.
                    lacinia congue felis in faucibus.</p>
                <div class="mx-auto" style="width: 180px;">
                    <a class="btn btn-primary" href="#" role="button">Read More</a>
                </div>
            </div>
        </div>
        <img src="media/watermelon.jpg" class="img align-self-center mr-3 img-hover" alt="Watermelon">
    </div>
</div>
<br>
<!--Card-->
<div class="card-group">
    <div class="card bg-info text-white">
        <div class="card-body">
            <h5 class="card-title">GMO Free Guarantee</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <a class="btn btn-dark" href="#" role="button">Read More</a>
        </div>
    </div>
    <div class="card bg-warning text-white">
        <div class="card-body">
            <h5 class="card-title">Premium Quality</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <a class="btn btn-dark" href="#" role="button">Read More</a>
        </div>
    </div>
    <div class="card bg-danger text-white">
        <div class="card-body">
            <h5 class="card-title">Organic 100% Healthy</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <a class="btn btn-dark" href="#" role="button">Read More</a>
        </div>
    </div>
    <div class="card bg-success text-white">
        <div class="card-body">
            <h5 class="card-title">Best Price Always</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <a class="btn btn-dark" href="#" role="button">Read More</a>
        </div>
    </div>
</div>
<!--Middle Text-->
<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="card text-center bg-secondary text-white">
        <div class="card-header">
            <h5><strong>Best Quality Farm-Grown Products</strong></h5>
        </div>
    </div>
</div>
<style type="text/css">
  .padded img{
    padding-left: 6em;
  }
</style>
<div class="padded" style="margin-left: -30px; margin-bottom: 20px;">
    <img src="media/bio.png" alt="Bio">
    <img src="media/diversity.png" alt="Conserve Biodeversity">
    <img src="media/health.png" alt="Health Food">
    <img src="media/farm.png" alt="Natural Farm">
</div>
<div class="container" style="margin-bottom: 20px;">
    <h5 class="container" style="width: 975px;">
        Biological Biological
    </h5>
</div>
</body>
{% endblock %}