{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 20px;">
    <div class="row">
        {% for product in products %}
        {% if product %}
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a href="/cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% else %}
        <h5>No Results</h5>
        <p>There were no results matching your search: "{{ query }}".</p>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}