{% extends 'base.html' %}

{% block content %}
    <h1>Vegtables</h1>
    <div class="row">
        {% for product in vegies %}
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded {{ product.border }}" style="width: 18rem;">
                    <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}</p>
                        <a href="{{ product.link }}" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}